[*.cs]

# IDE0058: Expression value is never used
dotnet_diagnostic.IDE0058.severity = none

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = none

# IDE0022: Use block body for methods
dotnet_diagnostic.IDE0022.severity = none

# IDE0040: Add accessibility modifiers
dotnet_diagnostic.IDE0040.severity = none

# IDE0011: Add braces
dotnet_diagnostic.IDE0011.severity = none

# IDE0010: Add missing cases
dotnet_diagnostic.IDE0010.severity = none

# IDE0044: Add readonly modifier
dotnet_diagnostic.IDE0044.severity = silent

# Member does not access instance data and can be marked as static
dotnet_diagnostic.CA1822.severity = none

# IDE0057: Use range operator
csharp_style_prefer_range_operator = false

# CA1401: P/Invokes should not be visible
dotnet_diagnostic.CA1401.severity = none

# IDE0017: Simplify object initialization
dotnet_style_object_initializer = false
